body {
	background: black;
	font-family: "Playwrite CU", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 350px;
	margin: auto;
	padding: 20px;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 100%;
	margin: 10px 200px 10px 0px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 7px;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: 1px solid #bdbdbd;
	color: #bdbdbd;
	font-family: "Playwrite CU", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: 10px;
}

p {
	font-size: 10px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: #bdbdbd;
	padding: 10px;
	font-family: "Playwrite CU", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: 10px;
}
